:root {
  --dark-gray: rgb(37, 37, 37);
}

/* GENERAL ------------------------------------------------------------------ */

body {
  background-color: var(--dark-gray);
  color: white;
  font-family: "Montserrat", sans-serif;

  height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* SEARCHBAR DIV ------------------------------------------------------------ */

#searchbar-div {
  display: flex;
  gap: 20px;
}

#searchbar,
#search-btn {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding: 20px;
  border-radius: 20px;
  color: white;
}

#searchbar {
  border: 2px solid white;
  background-color: transparent;
  width: 430px;
}

#search-btn {
  border: none;
  border-radius: 30px;
  width: 150px;
  background-color: rgb(41, 143, 226);
  cursor: pointer;
}

.display-div {
  border: 5px solid white;
  border-radius: 20px;
}

#loading-div {
  display: grid;
  justify-content: center;
  align-items: center;

  width: 640px;
  height: 360px;
}

/* WEATHER DISPLAY ---------------------------------------------------------- */

#weather-div {
  display: grid;
  grid-template-columns: 200px 400px;
  grid-template-rows: 80px repeat(4, 60px);

  border: 5px solid white;
  border-radius: 20px;

  padding: 20px;

  font-size: 18px;
}

#location {
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  margin: 0;
  padding: 20px;

  align-self: center;
  text-align: center;
  text-transform: uppercase;

  font-size: 24px;
}

#weather {
  grid-column: 1 / 2;
  grid-row: 2 / 6;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-row {
  grid-column: 2 / 3;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  font-weight: 500;
}

.label {
  font-weight: bold;
}

#icon {
  width: 100px;
  height: 100px;
  filter: brightness(0) invert(1);
}

.weather-background-color {
  background-color: var(--dark-gray);
}